
h1{
  text-align: center;
  color: rgb(27, 221, 65);
  font-weight: bold;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center{
  text-align: center;
}

h3{
  font-size: "12pt";
}